body {
    background-color: lightblue;
    margin: 15px;
}

.nav {
    border: 2px black solid;
    padding: 4px;
    background-color: palegoldenrod;
}

#label {
    font-weight: bold;
    padding: 6px;
    margin-top: 2px;
}

